

.header {

   display: flex;
   align-items: center;

    text-align: center;
    border-bottom: 2px solid rgb(209, 203, 203);
    height: 80px;
  
}

.logo{
    width: 256px;
    display: flex;
    align-content: center;margin-left: 30px;


}

.title {
margin-top: 8px;
margin-left: 16px;
    font-size:24px;
    color: #000000;
    text-decoration: none;
    font-family: 'Roboto';
    font-weight: bold;
}
.main_image{
width: 40px;

}
.content-name{
    font-size:16px;
    color: #525050;
    text-decoration: none;
    font-family: 'Roboto';
  
}




.footer {
    margin-top: 64px;

    background-color: rgb(247, 219, 183);
}

.icon-connection {
    text-align: center;
}

.information {
    margin-top: 32px;
    display: flex;
    justify-content: flex-start;
}

.us {

    margin-bottom: 16px;
    margin-right: 220px;
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.address {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-bottom: 16px;

}
 
