.container {
    margin-top: 64px;
    text-align: center;
    display: flex;
    justify-content: space-around;

}

.product {
    width: 30%
}

.images {
    width: 300px
}

@media (max-width: 600px) {
    .container {
        margin-top: 64px;
        text-align: center;
        display: block;


    }

    .product {
        display: flex;
        width: 100%;
        margin-bottom: 32px;
    }

    .images {
        width: 200px
    }
}