.login-body {
    display: flex;
    justify-content: center;
    background: linear-gradient(135deg, rgba(244,219,252,1) 7%, rgba(219,145,253,0.4770950616574755) 32%, rgba(211,143,252,0.471492820761117) 54%, rgba(185,98,249,0.3874592073157388) 100%);
        padding: 0;
    margin: 0;
}

.login-main {
    width: 70%;
    border: 1px solid rgb(0, 0, 0, 0.4);
    margin-top: 64px;
    margin-bottom: 64px;

    border-radius: 16px;
    background-color: white;
}

.login-h1 {
    margin-top: 32px;
    text-align: center;
}

.login-label {
    margin-bottom: 24px;
}

.login-textdiv {
    margin-top: 56px;
    margin-left: 32px;
    margin-right: 32px;

}

.login-button {
    margin-top: 64px;
    margin-left: 256px;
    margin-right: 256px;
    margin-bottom: 32px;

}

@media only screen and (max-width: 600px) {
    .login-main {
        width: 90%;
        border: 1px solid rgb(0, 0, 0, 0.4);
        margin-top: 32px;
        border-radius: 8px;
    }

    .login-h1 {
        margin-top: 24px;
        margin-bottom: 64px;

    }

    .login-label {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .login-textdiv {
        margin-top: 32px;
        margin-left: 16px;


    }

    .login-button {
        margin-top: 64px;
        margin-left: 64px;
        margin-right: 64px;
        margin-bottom: 24px;

    }

}